/* custom CSS rules */

.legend-large, .legend-small {
  border-radius: 50%;
}

hr.small, hr.large {
  width: 83px;
  position: absolute;
  top: -8px;
  left: 55px;
  border: 1px solid #ccc;
  /* overwrite assembly.css rule */
  margin-top: 8px;
  /* overwrite assembly.css rule */
}

.boys {
  color: #6E77B0;
}

.girls {
  color: #D96D02;
}

h1, h2 {
  font-family: 'Domine', serif;
}

li {
  font-family: 'Aparey', serif;
}

.link {
  color: #FFFFFF;
}
